<th:block th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-exodia rounded">
        <a class="navbar-brand nav-link-white" href="/">EXODIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
            </ul>
            <ul class="navbar-nav">
                <th:block th:if="${session.userId != null}">
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" th:href="@{/schedule/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" th:href="@{/schedule/create}">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" th:href="@{/logout}">Logout</a>
                    </li>
                </th:block>
                <th:block th:if="${session.userId == null}">
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/register">Register</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</th:block>