<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="details-product">
    <div class="jumbotron bg-light" th:object="${product}">
        <div class="text-center">
            <img th:src="*{imageUrl}" width="350" height="350" alt="Product">
        </div>
        <div class="row">
            <div class="col col-md-12 text-center mt-5">
                <h1 th:text="|Name: *{name}|"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 text-center mt-3">
                <h4 th:text="|Desciption: *{description}|"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 text-center">
                <h4 th:text="|Price: *{price}|"></h4>
            </div>
        </div>
    </div>
</th:block>