<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light purple">
        <a class="navbar-brand text-white" th:href="@{/}">Resident Evil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" th:href="@{/}">Home</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a class="nav-link text-white" th:href="@{/user/register}">Register</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a class="nav-link text-white" th:href="@{/user/login}">Login</a>
                </li>
                <li class="nav-item active dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Viruses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/virus/all}">Show</a>
                        <a class="dropdown-item" th:href="@{/virus/add}" sec:authorize="hasAnyAuthority('MODERATOR', 'ADMIN', 'ROOT')">Add</a>
                    </div>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN', 'ROOT')">
                    <a class="nav-link text-white" th:href="@{/user/all}">Users</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="POST">
                        <button type="submit" class="nav-link text-white bg-transparent btn-none">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>